
.item1 { grid-area: Table; }
.item2 { grid-area: Homework; }
.item3 { grid-area: Important; }
.item4 { grid-area: Gaming; }
.item5 { grid-area: Least Important; }

.grid-container {
  display: grid;
  grid-template-areas:
    'Table Table Table Table Table Table'
    'Gaming Gaming Gaming Gaming Gaming Gaming'
    'Homework Important Important Important Important Important'
    'Homework Least Important Least Important Least Important Least Important Least Important';
  grid-gap: 10px;
  background-color:  #FF66FF;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;

