<style>
.item1 { grid-area: Banner; }
.item2 { grid-area: Nav; }
.item3 { grid-area: Content; }
.item4 { grid-area: Footer; }
.item5 { grid-area: Left; }

.grid-container {
  display: grid;
  grid-template-areas:
    'Banner Banner Banner Banner Banner Banner'
    'Nav Nav Nav Nav Nav Nav'
    'Left Left Content Content Content Content'
    'Left Left Content Content Content Content'
    'Left Left Content Content Content Content'
    'Left Left Content Content Content Content'
    'Left Left Footer Footer Footer Footer';
  grid-gap: 10px;
  background-color: #FF66FF;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
</style>
