.item1 { grid-area: Det; }
.item2 { grid-area: Info; }
.item3 { grid-area: School; }
.item4 { grid-area: Image; }
.item5 { grid-area: Web; }

.grid-container {
  display: grid;
  grid-template-areas:
    'Web Web Web Web Web Web'
    'Det Det Det Det Det Det' 
    'Image Info Info Info Info Info'
    'Image Info Info Info Info Info'
    'Image Info Info Info Info Info'
    'Image Info Info Info Info Info'
    'Image School School School School School';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
